:root {
	--color_black: #151515;
	--color_red: #e62429;
	--color_white: #fff;
	--color_gray: #bbb;
	--color_dark_gray: #202020;
}

.bgBlack {
	background-color: var(--color_black);
}

.loaderWrapper {
	margin: 0 auto;
	width: 100%;
	height: 100%;
	text-align: center;
	min-height: 100vh;
	padding-top: 30%;
}

.loaderWrapper > p {
	color: var(--color_red);
}

.container {
	box-sizing: border-box;
	max-width: 1240px;
	padding: 10px 20px 0;
	margin: 0 auto;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	background-color: var(--color_white);
}

.container *,
.detailContainer *,
.errorContainer * {
	box-sizing: border-box;
}

.container li,
.detailContainer li {
	list-style: none;
}

.container a {
	display: block;
	text-decoration: none;
	width: 100%;
	height: 100%;
}

.container img,
.detailContainer img {
	width: 100%;
}

.heroHeader {
	padding: 0;
	font-size: 26px;
	text-transform: uppercase;
	letter-spacing: -0.5px;
}

.heroDataResult {
	color: #767676;
	font-size: 13px;
	text-transform: uppercase;
	font-weight: 500;
}

.herosList {
	padding: 0;
	margin: 0 auto;
	width: 100%;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(15.82%, 1fr));
	transition: max-height 1s ease-out;
	overflow: hidden;
	grid-column-gap: 10px;
}

.errorContainer {
	width: 100%;
	padding-top: 100px;
	padding: 100px 20px;
	background: var(--color_dark_gray);
	color: var(--color_white);
	min-height: 100vh;
	margin-bottom: -60px;
}

.errorMessage {
	max-width: 600px;
	margin: 0 auto;
	color: var(--color_white);
}

.errorStatus > span {
	display: inline-block;
	color: var(--color_red);
	margin-right: 5px;
}

.footer {
	box-sizing: border-box;
	width: 100%;
	padding: 30px;
	background-color: var(--color_dark_gray);
	color: var(--color_gray);
	margin-top: 60px;
	position: relative;
	z-index: 1;
}

.footer p {
	margin: 0;
	text-align: right;
	font-size: 14px;
}

@keyframes floating {
	0% {
		opacity: 0;
		transform: translateY(30px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@media (max-width: 768px) {
	.herosList {
		grid-template-columns: repeat(auto-fit, minmax(23.75%, 1fr));
	}
}
@media (max-width: 429px) {
	.herosList {
		grid-template-columns: repeat(auto-fill, minmax(31.66%, 1fr));
	}
}
