.detailContainer {
	width: 100%;
	margin: 0 auto;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	background-color: var(--color_black);
	min-height: calc(100vh - 76px);
}

.detailContainer * {
	box-sizing: border-box;
}

.detailContainer a {
	display: block;
	text-decoration: none;
	width: 100%;
	height: 100%;
}

.detailContainer img {
	width: 100%;
}

.detailWrapper {
	width: 100%;
	min-height: 100vh;
	color: var(--color_white);
	animation: floating 1s ease-in-out 1 forwards;
}

.detailBg {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	z-index: 0;
	background-color: var(--color_black);
}

.detailBg > img {
	width: 100%;
	height: 100%;
	filter: brightness(0.5) grayscale(0.75) blur(20px);
}

.detailContext {
	position: relative;
	z-index: 1;
	max-width: 600px;
	margin: 0 auto;
	padding: 100px 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-wrap: nowrap;
}

.detailThumbnail {
	max-width: 600px;
	margin: 0 auto;
	width: 100%;
	margin-bottom: 50px;
	box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
}

.bioWrap,
.urlWrap {
	font-size: 16px;
	width: 100%;
	margin-bottom: 35px;
}

.bioWrap > span,
.urlWrap > span {
	display: inline-block;
	line-height: 20px;
	text-transform: uppercase;
	margin-bottom: 7px;
}

.bioWrap > span::after,
.urlWrap > span::after {
	display: block;
	content: "";
	width: 100%;
	height: 1px;
	background: var(--color_white);
	margin: 15px 0;
}

.bioWrap h3 {
	margin: 0;
	padding: 0;
	text-transform: uppercase;
}

.bioWrap p {
	margin: 0 auto;
}

.bioWrap ul,
.urlWrap ul {
	margin: 0;
}

.bioWrap ul li {
	padding: 3px 0;
	width: auto;
	transition: all 0.17s ease-in-out;
	line-height: 20px;
	text-transform: capitalize;
}

.bioWrap ul li:hover {
	background-color: var(--color_black);
	color: var(--color_red);
	font-weight: 500;
}

.urlWrap > span {
	color: var(--color_red);
}

.urlWrap > span::after {
	background: var(--color_red);
}

.urlWrap ul {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	justify-content: space-between;
	align-items: center;
	padding: 0;
	width: 100%;
}

.urlWrap ul li {
	list-style: none;
	text-transform: capitalize;
	padding: 25px;
	text-align: center;
	background: var(--color_dark_gray);
	color: var(--color_white);
	min-width: 33.33%;
	border-right: 1px solid #393939;
	transition: all 0.2s ease-in-out;
}

.urlWrap ul li:last-of-type {
	border-right: none;
}

.urlWrap ul li a {
	display: block;
	width: 100%;
	text-decoration: none;
	color: inherit;
}

.urlWrap ul li:hover {
	background-color: var(--color_red);
}

@keyframes floating {
	0% {
		opacity: 0;
		transform: translateY(30px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@media (max-width: 768px) {
	.detailContext {
		padding: 50px 15px;
	}

	.bioWrap > span::after {
		margin: 7px 0;
	}
}
